[defaults]
collections_path = ./collections
host_key_checking = True
inventory = ../../../deployments/homelab/cloud/network-inventory.yaml
retry_files_enabled = False
stdout_callback = ansible.builtin.default

[persistent_connection]
command_timeout = 30
connect_timeout = 30
host_key_checking = True
ssh_type = libssh

[libssh_connection]
host_key_auto_add = False
host_key_checking = True
