*.backup
*.py[cod]
.env
.env.*
/.codex-doc-cache/
/.direnv/
/.envrc
/.pre-commit-config.yaml
/deployments/homelab/cloud/**/*.agekey
/deployments/homelab/cloud/**/admin.conf
/deployments/homelab/cloud/**/kubeconfig
/hardware-configuration.nix
/result
/result-*
/secrets/*.hash
/secrets/*.key
/secrets/*.pem
__pycache__/
before-infra-*.rsc
