token-file: /etc/rancher/k3s/token
node-ip: {{ k3s_node_ip }}
advertise-address: {{ k3s_node_ip }}
cluster-cidr: {{ k3s_cluster_cidr }}
service-cidr: {{ k3s_service_cidr }}
write-kubeconfig-mode: "0600"
secrets-encryption: true
etcd-snapshot-name: management-etcd
etcd-snapshot-schedule-cron: "17 */6 * * *"
etcd-snapshot-retention: 5
etcd-snapshot-compress: true
disable:
  - servicelb
  - traefik
tls-san:
  - {{ k3s_api_dns_name }}
  - {{ k3s_api_floating_ip }}
  - {{ k3s_api_vip }}
{% if inventory_hostname in groups['k3s_bootstrap'] %}
cluster-init: true
{% else %}
server: https://{{ k3s_bootstrap_address }}:6443
{% endif %}
