[defaults]
inventory = ../../../deployments/homelab/cloud/capi-management/inventory.yml
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
forks = 3
timeout = 30
inject_facts_as_vars = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
