DPkg::Post-Invoke {
  "if [ -x /usr/local/sbin/cloud-sync-secondary-efi ] && mountpoint -q /boot/efi && mountpoint -q {{ cloud_secondary_efi_mountpoint }}; then /usr/local/sbin/cloud-sync-secondary-efi; fi";
};
